body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding: 8px;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: chocolate;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header ul a {
  color: white;
  text-decoration: none;
}

.header ul li:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* main */
.main {
  width: 1440px;
  height: calc(100vh - 72px);
  margin-top: 72px;
  background: white;
  padding: 12px;
}

/* Home */
.table {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.table .form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 24px;
}

.table .form .form-item {
  display: flex;
  flex-direction: column;
}

.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}

.site-layout-content {
  min-height: 100vh;
  padding: 24px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
